* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.projects-container {
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.project-item {
  flex-basis: 45%;
  padding: 20px;
  margin: 10px;
}
.mask-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 15px #b6b6b6;
  object-fit: cover;
  transition: all 300ms;
}
.mask-img img {
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: all 300ms;
}

.mask-img:hover {
  transform: scale(1.1);
}

.project-item span {
  display: block;
  color: gray;
  margin-top: 25px;
}
.project-item h2 {
  display: block;
  color: var(--primary-color);
  margin-top: 5px;
}
.project-item h2 a {
  font-weight: bold;
  font-size: 1.5rem;
  background: transparent;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}
.project-item h2 a:hover {
  background: transparent;

  margin: 0;
  padding: 0;
  color: var(--accent-color);
}
.project-item h3 {
  padding-top: 15px;
  display: block;
  margin-top: 0.3rem;
  color: gray;
  border-top: 1px solid #ddd;
}

@media screen and (max-width: 1000px) {
  .project-item {
    flex-basis: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 700px) {
  .project-item {
    flex-basis: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 650px) {
  .project-item {
    flex-basis: 100%;
    margin: 10px;
  }
}
