/* Contact.css */
.form-wrapper {
  max-width: 32rem;
}

.contact {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

.contact .container {
  height: 100vh;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.contact .container > div {
  grid-column: 1/2;
  grid-row: 1/2;
}

.left {
  display: grid;
  align-items: start;
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 65px 1.5rem 0;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  z-index: 3;
}

.contact-heading h1 {
  font-weight: 600;
  color: rgb(26, 26, 26);
  font-size: 3.5rem;
  line-height: 0.9;
  white-space: nowrap;
  margin-bottom: 1.2rem;
}

.contact-heading h1 span {
  color: rgb(167, 167, 13);
}

.text {
  color: #9ca7b6;
  line-height: 1.1;
  font-size: 1rem;
}
.text a {
  color: rgb(167, 167, 13);
  text-decoration: none;
  transition: color 0.3s; /* Transición solo para el color */
}
.text a:hover {
  color: rgb(177, 177, 23);
}

.contact-form {
  display: grid;
  margin-top: 2.55rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.input-wrap {
  position: relative;
}

.input-wrap.w-100 {
  grid-column: span 2;
}

.contact-input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.082);
  padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.856);
  font-weight: 600;
  font-size: 0.95rem;
  transition: 300ms;
  box-shadow: 0 0 0 5px white;
  border: 2px solid transparent;
}
.contact-input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.input-wrap label {
  color: rgba(0, 0, 0, 0.473);
  pointer-events: none;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: calc(1.35rem + 2px);
  border: 2px solid transparent;
  box-shadow: 0 0 0 5px transparent; /* Tamaño fijo del box-shadow */
  transform: translateY(-50%);
  transition: 0.25s;
}
.input-wrap .icon {
  color: rgba(0, 0, 0, 0.473);
  position: absolute;
  right: calc(1.35rem + 2px);
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
  font-size: 1.25rem;
}

textarea.contact-input {
  resize: none;
  width: 100%;
  min-height: 150px;
}
textarea.contact-input ~ label {
  top: 1.2rem;
  transform: none;
}
textarea.contact-input ~ .icon {
  top: 1.3rem;
  transform: none;
}

.input-wrap.focus .contact-input {
  background-color: white;
  border: 2px solid rgb(167, 167, 13);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1); /* Tamaño fijo del box-shadow */
}

.input-wrap.focus label {
  color: rgb(167, 167, 13);
}
.input-wrap.focus .icon {
  color: rgb(167, 167, 13);
}

.input-wrap.not-empty label {
  font-size: 0.66rem;
  top: 0.75rem;
  transform: translateY(0);
}

.contact-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  grid-column: span 2;
}

.btn {
  display: inline-block;
  padding: 1.1rem 2rem;
  background-color: rgb(167, 167, 13);
  color: rgb(224, 209, 209);
  border-radius: 40px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: 300ms;
}
.btn:hover {
  background-color: rgb(156, 156, 14);
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  pointer-events: none;
}
.image-wrapper {
  position: relative;
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-img {
  width: 700px;
  height: auto;
}

@media (max-width: 1600px) {
  .contact-img {
    width: 500px;
  }
}
@media (max-width: 1400px) {
  .contact-img {
    width: 400px;
  }
  .left {
    padding: 50px 1.5rem 0;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1250px) {
  .right {
    display: none;
  }
  .left {
    width: 100%;
    align-items: start;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .form-wrapper {
    width: 100%;
    min-width: 250px;
    padding: 1rem 0;
  }
}

@media (max-width: 800px) {
  .contact-heading h1 {
    font-size: 3rem;
  }
  .contact-heading p {
    font-size: 1rem;
  }
  .input-wrap {
    grid-column: span 2;
  }
  .contact-btn-container {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }
}
@media (max-width: 640px) {
  .contact-heading h1 {
    font-size: 1.5rem;
  }
  .contact-heading p {
    font-size: 0.9rem;
  }
}
